p span:first-child {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
}

.ItemButtons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.ItemButtons button {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #3f51b5;
  border: none;
}

.BtnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ItemButtons button:hover {
  background-color: #243380;
}
