.contactForm {
  width: 450px;
  padding: 40px;
  border: 1px solid black;
  margin: 0 auto 30px auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactForm input {
  height: 30px;
  width: 250px;
  margin-left: 20px;
}
.contactForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border-radius: 5px;
  width: 170px;
  padding: 5px 15px;
  cursor: pointer;
}
.contactForm button:hover {
  background-color: antiquewhite;
}
